<div class="draftView" >
    <div class="draftBody">
        <form class="form-horizontal">
            <div name="editable" {{#if embedded}}class="hide"{{/if}}>
                <div class="control-group">
                    <input name="to" type="text" data-provide="typeahead" placeholder="To" value="{{#each to}}{{ email }}{{/each}}"/>
                </div>
                <div class="control-group">
                    <input name="subject" type="text" data-provide="typeahead" placeholder="Subject" value="{{ subject }}"/>
                </div>
            </div>
            <div name="readonly" {{#unless embedded}}class="hide"{{/unless}}>
                <p class="messageHeader">
                    <span class="muted pull-right date">{{#dateformat received 'HH:mm, MMM Do'}}{{/dateformat}}</span>
                    {{ subject }}
                    <span class="headerRow">from {{> emailAddressWithLink from }}</span>
                    <br/>
                    {{#if to }}<span class="headerRow">to: {{#commaJoined to }} {{> emailAddressWithLink this }}{{/commaJoined }}</span>{{/if }}
                    {{#if cc }}<span class="headerRow">cc: {{#commaJoined cc }} {{> emailAddressWithLink this }}{{/commaJoined }}</span>{{/if }}
                    {{#if bcc }}<span class="headerRow">bcc: {{#commaJoined bcc }} {{> emailAddressWithLink this }}{{/commaJoined }}</span>{{/if }}
                </p>
            </div>
            <div class="control-group">
                <textarea {{#if embedded }}style="height:50px"{{else}}style="height:400px"{{/if}} name="body">{{#each body}}{{ value }}{{/each}}</textarea>
            </div>
        </form>
    </div>
    <div class="draftFooter row-fluid {{#unless received}}hide{{/unless}}">
        <div class="modal-footer">
            <div class="pull-left saved">
                <span class="muted {{#unless received}}hide{{/unless}}" name="title">Saved: </span><span name="value">{{#dateformat received 'HH:mm:SS, dddd, MMM Do'}}{{/dateformat}}</span>
            </div>
            <button class="btn btn-small" aria-hidden="true" name="discard"><i class="icon-trash"></i></button>
            {{#unless embedded}}
            <button class="btn btn-small" aria-hidden="true" name="cancel">Cancel</button>
            {{/unless }}
            <button class="btn btn-small" name="send">Send</button>
        </div>
        <!--
        <div class="span4 {{#unless saved}}hide{{/unless}} saved muted">Saved <span class="savedValue">{{#date_ago saved }}{{/date_ago}}</span></div>
        -->
    </div>
</div>
