    <div id="message-row-{{ id }}" class="row messageRow {{#if unread }}unread{{/if}}">
        {{#if url }}
        <a href="#{{ url }}">
        {{/if}}
        {{# if from.name }}
            <div class="span4 emailField">To: {{ to.name }} <span class="muted">&lt;{{ to.email }}&gt;</span></div>
        {{ else }}
            <div class="span4 emailField">To: {{ from.email }}</div>
        {{/if}}
            <div class="span5 subjectField">{{ subject }}</div>
            <div class="span3 dateField">{{#dateformat received 'HH:mm, dddd, MMM Do'}}{{/dateformat}}</div>
        {{#if url }}
        </a>
        {{/if}}
    </div>

