    <div id="message-row-{{ id }}" class="row messageRow {{#if unread }}unread{{/if}} {{#if selected }}selected{{/if}} {{#if marked }}marked{{/if}}">
        {{#if url }}
        <a href="#{{ url }}">
        {{/if}}

        {{#isOutcoming this }}
            <div class="span3 emailField">To:
            {{# if to }}
                {{#commaJoined to}}
                    {{> emailAddress }}
                {{/commaJoined}}
            {{/if}}
            </div>
        {{ else }}
            <div class="span3 emailField">{{> emailAddress from }}</div>
        {{/isOutcoming }}

        <div class="span7 subjectField">
            {{#if visibleLabels }}
                <span class="pull-left">
                {{#each visibleLabels}}
                    <span class="badge labelBadge" style="background-color: {{#colorForLabel this}}{{/colorForLabel}}">{{ this }}</span>
                {{/each }}
                </span>&nbsp;
            {{/if}}
            {{ subject }}&nbsp;
            {{#if has_attachments }}
            <span class="pull-right" style="color: rgba(0, 0, 0, 0.4);"><i class="fa fa-files-o"></i></span>
            {{/if}}
        </div>
        <div class="span2 dateField">
        {{#date_ago received }}{{/date_ago}}
        </div>

        {{#if url }}
        </a>
        {{/if}}
    </div>
