<div id="message-group-{{ id }}" class="row packGroup asRow" onClick="javascript:window.curie.router.navigate('{{ url }}', {trigger : true})">
    <div class="pull-right counters muted"><span class="unread {{#unless unread }}hide{{/unless}}">{{ unread }}</span> <span class="{{#unless unread }}hide{{/unless}}">/</span> {{ size }}</div>
    <span class="lead">{{ name }}</span>
    {{#each messages }}
    {{> messageRow }}
    {{/each}}

    {{#if thereIsMore }}
    <p class="text-center">&hellip;</p>
    {{/if}}
</div>
