    <div class="message">
        <p class="messageHeader lead">
            <span class="muted pull-right">{{#dateformat received 'HH:mm, MMM Do'}}{{/dateformat}}</span>
            {{ subject }}
            <span class="muted">by
                {{# if _from.name }}
                <a href="#new/{{ _from.email }}" title="{{ _from.name }} <{{ _from.email }}>" class="from">{{ _from.name }}</a>
                {{ else }}
                {{ _from.email }}
                {{/if}}
            </span>
        </p>
        <div class="pull-right">
            {{#each labels}} <span class="badge">{{ this }}</span>{{/each}}
        </div>
        {{#each _body }}
            <div class="body{{@index}}">
            {{{ this.value }}}
            </div>
        {{/each }}

        {{ attachment }}

        {{#if attachments }}
        <p>
            <ul class="inline">
            {{#each attachments }}
                <li><a href="/attachment/{{ file }}">{{ filename }}</a></li>
            {{/each}}
            </ul>
        </p>
        {{/if}}
    </div>

