<div id="message-group-{{ id }}" class="span5 packGroup asTile" onClick="javascript:window.curie.router.navigate('{{ url }}', {trigger : true})">
        <div class="span3"><img src="https://secure.gravatar.com/avatar/{{ id }}?s=80&d=mm" width="80" height="80" /></div>
        <div class="span9">{{ name }}</div>
        <div class="pull-right muted sumCount"><span class="unread {{#unless unread }}hide{{/unless}}">{{ unread }}</span> <span class="{{#unless unread }}hide{{/unless}}">/</span> {{ size }}</div>
</div>

